.Header {
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, #7dc4b6, #dd9a8d);;
    text-align: center;
    box-shadow: inset 0 0 5px 5px rgba(228, 233, 237, 1);
}

.Text {
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    font-size: 30px;
    color: black;
    margin-top: 0;
}