.App {
  text-align: center;
  max-height: 100%;
}

.App-logo {
  height: 70px;
  pointer-events: none;
}

.App-header {
  background: linear-gradient(to right, #7dc4b6, #dd9a8d);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-logoWraper {
  padding-left: 90%;
}
